.hero-wrapper {
  width: 100%;
  background-color: black;
  color: white;
  padding-bottom: 2rem;
 
}
.hero-left {
  width: 40%;
  height: 40%;
  position: relative;
  top: 3rem;
}
.hero-left h2 {
  font-size: 4rem;
}
.hero-left input {
  width: 300px;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  padding: 0.2rem;
}
.image-container {
  overflow: hidden;
  border: 0.5em solid rgb(245, 160, 32);
  border-radius: 15rem 15rem 1rem 1rem;
}
#most {
  color: blue;
}
.orange-circul {
  width: 5vw;
  height: 5vw;
  background-color: rgb(255, 188, 87);
  border-radius: 10vw;
  position: relative;
  left: 70vw;
  bottom: 11vw;
}

.stat {
  font-size: 1vw;
  position: relative;
  right: 1.8vw;
  margin: 1vw;
}
.plus {
  color: rgb(255, 188, 87);
}

@media(max-width:900px){
  .orange-circul{
     display: none;
  }
  
}
@media(max-width:500px){
  .hero-left{
    position: relative;
    right: 50px;
    
   }
   
}
@media(max-width:410px){
  .hero-left input{
    position: relative;
    right: 35px;
  }
}
