.r-head{
    margin: 2rem;
    font-size: 2rem;
}
.r-title{ 
    color: rgb(245, 160, 32);
    font-weight: 600;
}
.r-title2{
    color: rgb(5, 5, 141);
    font-weight: 600;
}
.card{
    border: none;
    width:80%;
}
.all-card{
    gap:0.6rem;
}
.swiper{
    margin-left: 30px !important;
}
.price{
    font-weight: bold;
    
    color:  rgb(245, 160, 32);
}
